
<ng-container *ngIf="(auth$ | async)?.ready">
    <div class="main-container" *ngIf="(auth$ | async)?.user">
        <app-alert-global></app-alert-global>
        <header class="header" [clr-nav-level]="1">
            <div class="branding">
                <a href="..." class="nav-link">
                    <clr-icon shape="target"></clr-icon>
                    <span class="title">ng-fire-auth</span>
                </a>
            </div>
            <div class="header-actions">
                <clr-dropdown>
                    <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
                        {{ (auth$ | async)?.user?.email }}
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                        <a clrDropdownItem (click)="logout()">Log out</a>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </div>
        </header>
        <div class="content-container">
            <nav class="sidenav" [clr-nav-level]="2">
                <app-sidenav></app-sidenav>
            </nav>
            <div class="content-area">
                <ng-container *ngTemplateOutlet="routerOutlet"></ng-container>
            </div>
            <app-alert-container></app-alert-container>
        </div>
    </div>
    <div class="main-container" *ngIf="!(auth$ | async)?.user">
        <ng-container *ngTemplateOutlet="routerOutlet"></ng-container>
    </div>
</ng-container>
<ng-template #routerOutlet>
    <router-outlet></router-outlet>
</ng-template>
